body {
  overflow-x: hidden;
  position: relative;
  color: $white;

  font-family: p22undergroundcyprobook, sans-serif;
  font-weight: 400;

  &.active-body {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 36px;
}

a,
button {
  color: $white;
}

.container {
  max-width: 1130px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  &--big {
    max-width: 1300px;
    position: relative;
  }

  &--sm {
    max-width: 750px;
  }
}

.content {
  flex-basis: 100%;
}

.main-blocks {
  background-image: url('../img/bg-main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.pos-r {
  position: relative;
  padding-left: 50px !important;

  @media($media_lg3) {
    padding-left: 0 !important;
  }
}

.title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  font-family: FuturaPT;

  &--black {
    color: $black;
  }

  &--left {
    text-align: left;
  }

    @media($media_md2) {
      font-size: 30px;
    }

    @media($media_sm2) {
      font-size: 26px;
      text-align: center;
    }
}

.h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 114%;

  text-align: center;
  text-transform: uppercase;

  &--hidden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  @media($media_lg2) {
    font-size: 40px;
  }
}

.h1__top {
  position: relative;
  z-index: 1;
}

.flex-grow {
  flex-grow: 1;
}