.advantages__item {
	flex-basis: 30%;
}

.advantages__number {
	font-weight: 700;
	font-size: 45px;
	/* identical to box height */


	color: #4F6EA4;

}

.advantages__text {
	font-weight: 700;
	font-size: 16px;

	color: #FFFFFF;
}

.advantages__text-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 65px 20px;

	@media(max-width: 450px) {
		grid-template-columns: 1fr;
		text-align: center;
		grid-gap: 40px;
	}
}

.advantages__main {
	margin-top: 40px;
	grid-gap: 20px;

	@media($media_lg3) {
		img {
			max-width: 220px;
		}
	}

	@media(max-width: 550px) {
		flex-direction: column-reverse;
		justify-content: flex-start;
	}
}

.advantages {
	padding: 55px 0 80px;
	font-family: FuturaPT;
	font-weight: 700;
}