.context__search {
	position: relative;
	margin-bottom: 45px;
}

.context-search__bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	z-index: -1;
	min-height: 140px;
	object-fit: cover;
}

.search__main {
	padding-top: 35px;
	grid-gap: 20px;

	img {
		display: block;
		border-radius: 20px;

		@media($media_lg3) {
			max-width: 350px;
		}
	}

	p {
		font-family: FuturaPT;
		font-size: 14px;
		color: #858585;
		margin-top: 120px;

		span {
			font-weight: 700;
		}
	}

	@media($media_sm) {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: flex-start;

		p {
			margin-top: 29px;
			text-align: center;
		}
	}
}

.context-advantages__subtitle {
	font-size: 14px;
	color: #858585;

	@media($media_sm2) {
		text-align: center;
	}
}

.context-advantages__item {
	flex-basis: 24%;

	h3 {
		margin: 20px 0 15px;
		font-weight: 700;
		font-size: 20px;
		color: #303030;
	}

	p {
		font-size: 14px;
		color: #858585;
	}

	@media($media_md) {
		flex-basis: 49%;
	}
}

.context__advantages {
	font-family: FuturaPT;
	margin-bottom: 72px;
}

.context-advantages__main {
	margin-top: 25px;

	@media($media_md) {
		flex-wrap: wrap;
		grid-gap: 40px 0;
	}

	@media($media_sm2) {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

.context__start {
	background: #EDEDED;
	padding: 47px 0 54px;
}

.context-start__main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 43px;
	margin-top: 30px;

	@media($media_sm2) {
		grid-template-columns: 1fr;
		grid-gap: 35px;
		text-align: center;
	}
}

.context-start__item {
	font-family: FuturaPT;

	h3 {
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 20px;
		color: #0099FF;
	}

	p {
		font-size: 14px;
		color: #858585;

	}
}

.context__h1 {
	font-family: FuturaPT;
	font-weight: 700;
	font-size: 50px;
	text-transform: uppercase;
	color: #151515;
	margin-bottom: 48px;

	@media($media_sm) {
		font-size: 25px;
		margin-bottom: 40px;
	}
}

.context {
	margin-bottom: 54px;
}

.context__p {
	font-family: FuturaPT;
	font-size: 14px;
	margin-top: 42px;
	text-align: center;
	color: #858585;
}

.context__main {
	@media($media_sm) {
		flex-direction: column;
		
		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		img {
			margin-top: 40px;
		}
	}
}