.services__item {
	position: relative;
	height: 426px;
	flex-basis: 24.5%;
	grid-gap: 0 2px;
	padding: 18px 28px;

	@media($media_lg3) {
		padding: 15px;
		height: 300px;
	}

	@media($media_md) {
		flex-basis: 49%;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		transition: all .3s;
	}

	&--1 {
		&:after {
			background: rgba(79, 110, 164, 0.3);
		}

		&:hover {
			&:after {
				background: rgba(79, 110, 164, 1);
			}
		}
	}

	&--2 {
		&:after {
			background: rgba(44, 24, 42, 0.3);
		}

		&:hover {
			&:after {
				background: rgba(44, 24, 42, 1);
			}
		}
	}

	&--3 {
		&:after {
			background: rgba(78, 78, 78, 0.3);
		}
		
		&:hover {
			&:after {
				background: rgba(78, 78, 78, 1);
			}
		}
	}

	&--4 {
		&:after {
			background: rgba(30, 26, 41, 0.3);
		}

		&:hover {
			&:after {
				background: rgba(30, 26, 41, 1);
			}
		}
	}
}

.services__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}

.services__arrow {
	width: 26px;
	height: 23px;
}

.services__number,
.services__title,
.services__arrow {
	position: relative;
	z-index: 2;
}

.services__number {
	font-weight: 400;
	font-size: 40px;
	/* identical to box height */
	font-family: FuturaPT;


	color: #FFFFFF;
}

.services__title {
	font-weight: 700;
	font-family: FuturaPT;
	font-size: 26px;
}

.services__main {
	margin-top: 70px;
	grid-gap: 20px 0;

	@media($media_md) {
		flex-wrap: wrap;
	}
}

.services {
	margin: 55px 0 80px;
}