.stats {
	background: #35B200;
	padding: 80px 0;

	.stats__img {
		margin-top: 70px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;

		@media($media_lg) {
			grid-gap: 20px;
		}

		@media($media_md) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.stats__main {
	margin-top: 60px;
	gap: 50px 0;

	@media($media_sm2) {
		flex-direction: column;
		flex-wrap: nowrap;
	}
}

.stats__item {
	flex-basis: 33%;
	text-align: center;

	h3 {
		font-weight: 700;
		font-size: 40px;
		color: #FFFFFF;
	}

	p {
		font-size: 22px;
		color: #E7E7E7;
	}

	@media($media_lg2) {
		h3 {
			font-size: 40px;
		}

		p {
			font-size: 24px;
		}
	}

	@media($media_md2) {
		flex-basis: 49%;

		p {
			font-size: 20px;
		}
	}
}