.text-block {
	padding: 80px 0;

	p {
		font-size: 16px;
		margin-top: 20px;
		color: #858585;
		max-width: 700px;
	}

	h2 {
		max-width: 700px;
	}
}

.text-block__main {
	gap: 20px;

	@media($media_sm) {
		flex-direction: column-reverse;
	}
}