.website-dev__btn {
	border: 2px solid #4F6EA4;
	border-radius: 999px;
	padding: 14px 30px;
	font-weight: 700;
	font-size: 15px;
	margin-top: 63px;
	transition: all .3s;
	color: #4F6EA4;

	svg {
		width: 13px;
		height: 11px;
		margin-left: 13px;

		path {
			transition: all .3s;
		}
	}

	@media($media_sm) {
		margin-top: 30px;
	}
}

.website-dev__text {
	font-size: 14px;

	color: #858585;
	max-width: 400px;
}

.website-dev__img {
	width: 100%;
}

.website-dev__types {
	background-image: url('../img/bg-main.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 55px 0;
	font-family: FuturaPT;
}

.website-dev-types__main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-top: 50px;

	@media($media_md2) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media($media_sm2) {
		grid-template-columns: 1fr;
	}
}

.website-dev-types__title {
	font-weight: 700;
	font-size: 21px;
	/* or 119% */

	text-transform: uppercase;

	color: #FFFFFF;
	margin-bottom: 19px;
}

.website-dev-types__text {
	font-size: 14px;

	color: #858585;
}

.webiste-dev-types__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 55px 30px;
	background: #2A2A2A;
	height: 370px;
	position: relative;

	@media($media_lg3) {
		height: 300px;
		padding: 20px 15px;
	}

	@media($media_sm2) {
		height: 250px;
	}
}

.website-dev-types__link {
	font-weight: 700;
	font-size: 15px;

	color: #4F6EA4;
	position: relative;
	text-transform: uppercase;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 110px;
		background: #4F6EA4;
		width: 67px;
		height: 2px;
	}
}

.website-dev-types__bg {
	position: absolute;
	bottom: 0;
	right: 0;

}

.website-dev__tasks {
	padding: 58px 0 65px;
	font-family: FuturaPT;
}

.website-dev-tasks__main {
	margin-top: 42px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 42px 14px;

	@media($media_md) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media($media_sm2) {
		grid-template-columns: 1fr;
	}
}

.website-dev-tasks__num {
	font-weight: 700;
	font-size: 30px;

	color: #4F6EA4;
}

.website-dev-tasks__item {
	grid-gap: 19px;
}

.website-dev-tasks__title {
	font-weight: 700;
	font-size: 18px;
	color: #151515;
}

.website-dev-tasks__text {
	font-size: 14px;
	margin-top: 11px;
	color: #858585;
}

.website-dev {
	font-family: FuturaPT;
}

.website-dev__main {
	grid-gap: 30px;

	@media($media_sm) {
		flex-direction: column;
		justify-content: flex-start;
		text-align: center;
	}
}

.website-dev__stages {
	background-image: url('../img/bg-main.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 54px 0 70px;
}

.website-dev-stages__main {
	margin-top: 40px;
}