.work__info {
	gap: 110px;
	margin: 33px 0 70px;
	flex-wrap: wrap;

	h3 {
		font-size: 15px;
		color: #858585;
	}

	p {
		font-weight: 700;
		font-size: 18px;
		color: #303030;
	}

	@media($media_md2) {
		gap: 20px 50px;
	}
}

.work__navigation {
	gap: 26px;
	margin: 101px 0;

	@media($media_sm2) {
		gap: 15px;
	}
}

.work-navigation__link {
	background: rgba(220, 220, 220, 0.58);
	border-radius: 10px;
	height: 138px;
	width: 260px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;

	svg {
		margin-left: 10px;
	}

	&.active {
		background: linear-gradient(100.1deg, #FF31B0 -52.26%, #4D50FB 100.3%);

		path {
			fill: #fff !important;
		}
	}

	&:first-child {
		svg {
			transform: rotate(180deg);
			margin-left: 0;
			margin-right: 10px;
		}
	}

	@media($media_sm2) {
		height: 100px;
	}
}

.work__link {
	display: block;
	margin-bottom: 6px;
	font-size: 18px;

	color: #4F6EA4;
}

.work {
	font-family: FuturaPT;
}

.work__descr {
	gap: 20px;

	h3 {
		font-weight: 700;
		font-size: 20px;
		color: #303030;
		margin-bottom: 15px;
	}

	p {
		font-size: 15px;
		max-width: 360px;
		color: #858585;
	}

	@media($media_lg2) {
		img {
			max-width: 400px;
		}
	}

	@media($media_md) {
		img {
			max-width: 280px;
		}
	}

	@media($media_sm) {
		align-items: center;
		flex-direction: column-reverse;
		text-align: center;
	}
}