.works {
	font-family: FuturaPT;
	margin-bottom: 80px;
}

.works__tab {
	border: 1px solid #CECECE;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 400;
	font-size: 15px;
	padding: 0 45px;

	color: #858585;


	&.active {
		background: #4F6EA4;
		color: $white;
		font-weight: 700;
	}
}

.works__main {
	margin-top: 75px;
}

.works__pagination {
	grid-gap: 12px;
	margin-top: 60px;
}

.works-pagiantion__item {
	font-size: 15px;


	color: #969696;

	&.active {
		color: #FFFFFF;
		background: #4F6EA4;
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;;
	}
}